{% extends '::front.html.twig' %}

{% block options %}
    <ul class="side-nav">
        <li><a href="{{ path('carreras_nuevo') }}">Nueva carrera</a></li>
    </ul>
{% endblock %}

{% block content %}
<div class="row">
    <section class="large-10 large-push-2 columns">
        <table>
            <thead>
                <tr>
                    <th width="600">NOMBRE</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                <tr>
                    <td>
                        {{ entity.nombre|upper }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(entities) }}
    </section>  
</div>
{% endblock %}
