{% extends '::front.html.twig' %}

{% block content %}
<div class="row">
    <section class="large-12 columns">
        <table>
            <thead>
                <tr>
                    <th width="120">NO. CONTROL</th>
                    <th width="320">ALUMNO</th>
                    <th width="270">CARRERA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ entity.nocontrol }}</td>
                    <td>{{ entity.apellidopaterno ~ " " ~ entity.apellidomaterno ~ " " ~ entity.nombre }}</td>
                </tr>
            </tbody>
        </table>
    </section>  
</div>
{% endblock %}