{% extends '::front.html.twig' %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>No. Control</th>
            <th>Nombre</th>
            <th>Apellidos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ entity.nocontrol }}</td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.apellidopaterno ~ " " ~ entity.apellidomaterno }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
